*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:Times New Roman;
}
body{
  background-color: #EEF4F0;
  background-repeat: no-repeat;
  background-position: center;
}
header{
  text-align: center;
  color: blue;
  margin-top: 5px;
  margin-bottom: 5px;
}
.page{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.card{
  background-color: white;
  border-radius: 15px;
  flex: 1;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  text-align: center;

  height: 100px;
  margin-bottom: 20px;
  border-left-style: solid;
  border-bottom-right-radius: 50px;
  border-right-color:green;
  border-right-style: solid;
}
footer{
  text-align: center;
  color: white;
}
span{
  color: black;
}
h3{
 color: green;
 font-size: 16px;
}
span,h3{
  font-family: Arial,Sans-Serif;
}
h1{
  font-size: 32px;
  color: #1A2C21;
}
p{
  color: black;
}
img{
  width: 200px;
  border-radius:100px;
}
.headstyle{
  color: green;
}
footer ,p{
  color: red;
}
a{
  text-decoration: none;
}
.developer{
  color: red;
  text-align: center;
  font-family: Verdana;
}
.dev{
  }
